* {
    margin: 0;
    padding: 0;
}

body { 
    max-height: 100vh;
    background-color: grey;
}

#weather-icon {
    width: 50px;
}

#page-title {
    color: orange;
    font-size: 35px;
    width: 20%;
    /* background-color: #212529; */
    margin: 0;
    padding-left: 20px;
}

.my-nav{
    padding: 0;
    margin: 0;
}

.weather-container {
    display: flex;
    width: 100%;
    /* border: 3px red solid; */
    justify-content: end;
    margin-right: 30px;
}

.weather-banner {
    overflow: hidden;
    position: relative;
    width: 20%;
}

.banner-text {
    color: orange;
    vertical-align:bottom;
    padding-top: 20px;
    transform:translateX(100%);
    animation: text-scrolling 15s linear infinite;
}

@keyframes text-scrolling {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-200%);
    }
}

.charts-area {
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: 9.5%;
}

.carousel-inner {
    margin-top: 5%;
}

.carousel-control-next,
.carousel-control-prev, .carousel-indicators {
    filter: invert(100%);
}

.home-div {
    display: block;
    min-width: 100%;
    min-height: 100%;
    /* display: flex; */
}

.content-container {
    display: flex;
    padding-top: 63px;
    height: 92.5vh;
    background-color: lightgrey;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* background-color: lightgrey; */
    background-color: grey;
}

.footer-div {
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    color: orange; 
}

.list-container {
    width: 20%;
    background-color: #212529;
    padding: 0 10px;
}

.form-control {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.list-container p {
    font: white;
}

.airport-title {
    text-align: center;
    background-color: orange;
}

.nav-link {
    color: lightgrey;
}

.nav-link:hover {
    color: orange;
}

.runways-section-title {
    width: 100%;
    font-style: oblique;
    padding-left: 20px;
    color: white;
    background-color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
    margin: 10px;
    width: 30%;
}

.card-header {
    /* color: orange; */
    font-weight: bold;
}

.list-card {
    height:100px;
    overflow-y: scroll;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.list-card-item {
    list-style-type: none;
    /* text-align: left; */
    margin: 0;
    padding: 0;
}

.list-group {
    /* height: 100%; */
    width: 100%;
    background-color: grey;
    /* border: 3px #212529 solid; */
}

.list-group-item {
    background-color: lightgrey;
    height: 10%;
    color: #212529;
    border: 2px #212529 solid;
}

.list-group-item:hover {
    background-color: #212529;
    color: orange;
}

.card-container-div { 
    display: flex;
    flex-wrap: wrap;
}

/* .airport-info {
    width: 80%;
    display: flex;
    flex-direction: column;
} */
.airport-data {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.title-elements {
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

